.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: rgb(79, 87, 102);
    height: 100vh;
  }    
  
  .fullBox{
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(124, 132, 141);
  margin-top: 50px;
  border-radius: 15px;
  height: 80vh;
  }
  .right{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: center;
    align-items: center;
    background-color: rgb(94, 95, 97);
    border-radius: 10px;
    height: 60vh;
  }
  
  .left{
    display: flex;
    flex-direction: column;
    width: 40%;
    justify-content: space-evenly;
    align-items: center;
    background-color: #212529;
    
    border-radius: 10px;
    height: 60vh;
  }
  .imgBox{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    z-index: 1;
    background-color: white;
    border:rgb(124, 132, 141) 8px solid ;
  }
  img{
    height: 100%;
    width: 100%;
    overflow: hidden;
    border-radius: 50%;
  }
  
  .table{
    border-radius: 10px;
    background-color: transparent;
  }
  .table>:not(caption)>*>* {
    background-color: transparent;
  }
  
  .left div h3,.left div h4{
    color: white;
    text-shadow: 1px 2px 1px black;
  }
  .right .table{
    height: 100%;
    margin: 0;
    overflow: hidden;
  }
  a{
    text-decoration: none;
    color: white;
  }

  #passInput{
    margin-top:5px ;
    border-radius: 15px;
    outline: none;
    border: none;
    width: 40%;
    color: white;
    transition: 0.4s;
  }
  #passChangeBtn,#passtoggleBtn{
    margin-left: 15px;
    font-size: 12px;
    margin-top: -5px;
  }
  #show-password{
    margin-right: 5px;
  }
